{% set active_page = "about" %}
{% extends "base.html" %}
{% block content %}
<div class="container p-3">
    <div class="card">
        <div class="card-header">
            <span>Samanvaya</span>
            <span class="text-secondary">
                <i class="fa fa-equals mx-1"></i>
                Sanskrit-based Unified Tagset for multiple Indian Languages
            </span>
        </div>
        <div class="card-body">
            The word <span class="fw-bold">Samanvaya</span>
            [<span style="color: #777; padding: 2pt;" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="custom-tooltip" data-bs-title="<div class='text-start'>Bangla: ষমন্বয<br>Gujarati: ષમન્વય<br>Kannada: ಷಮನ್ವಯ<br>Malayalam: ഷമന്വയ<br>Tamil: ஷமந்வய</div>">Devanagari: समन्वय</span>]

            means coordination or mutual connection. All Indian languages share
            this harmonious connection through a rich linguistic tradition.
            Serving as a testament to this coherence,
            <span style="color: #555;">Samanvaya Tagset</span> is a
            Sanskrit-based common tagset for multiple Indian languages towards
            various computational linguistic tasks.
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Tag Categories
        </div>
        <div id="tag-category-list" class="card-body p-0 m-0"></div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script>
        const API_URL_LIST_TAGS = "{{url_for('list_tags')}}";
        const API_URL_TEMPLATE_LIST_CATEGORY_TAGS = "{{url_for('list_category_tags', tag_category='TAG_CATEGORY')}}";
        const URL_SHOW_TAG = "{{url_for('show_tag')}}";
        const API_URL_POST_COMMENT = "{{url_for('post_comment')}}";
    </script>
    <script src="{{url_for('static', filename='custom/js/comment.js')}}"></script>
    <script src="{{url_for('static', filename='custom/js/functions.js')}}"></script>
    <script>
        const $tag_category_table_container = $("#tag-category-list");

        function detail_view_formatter(index, row, element) {
            const tag_category = row.tablename;
            const detail_view_id = `${tag_category}-list`;
            setTimeout(function (){render_category_taglist(tag_category)}, 100);
            return `<div id="${detail_view_id}" class="p-0 m-0"></div>`;
        }

        function render_category_taglist(tag_category) {
            const detail_view_id = `${tag_category}-list`;
            const api_url = (
                API_URL_TEMPLATE_LIST_CATEGORY_TAGS
                .replace('TAG_CATEGORY', tag_category)
            );

            function show_category_tag_formatter(value, row, index, field) {
                return `<a class="btn btn-sm btn-primary" target="_blank" href="${URL_SHOW_TAG}?category=${tag_category}&tag_ids=${row.id}"><i class="fas fa-arrow-right"></i></a>`;
            }

            const columns = [
                {field: "code", title: "Code"},
                {field: "tag", title: "Tag"},
                {field: "name", title: "Name"},
                {field: "english_name", title: "English Name"},
                {field: "description", title: "Description"},
                {field: "view", title: "View", formatter: show_category_tag_formatter, align: "center"}
            ];
            $.getJSON(api_url, function(response) {
                render_table($(`#${detail_view_id}`), {
                    columns: columns,
                    rows: Object.values(response),
                }, {
                    search: true,
                    showColumns: false,
                    /*
                    detailView: true,
                    detailViewByClick: true,
                    detailFormatter: function (index, row, element) {
                        return `<div class="m-3"><strong>Description</strong>: ${row.description}</div>`;
                    },
                    */
                }, {
                    tablename: tag_category,
                },
                `${tag_category}_list`);
            });
        }

        function show_category_formatter(value, row, index, field) {
            return `<a class="btn btn-sm btn-primary" target="_blank" href="${URL_SHOW_TAG}?category=${row.tablename}"><i class="fas fa-arrow-right"></i></a>`;
        }

        function render_tags_table() {
            const api_url = API_URL_LIST_TAGS;
            const columns = [
                // {field: "tablename", title: "Table Name"},
                {field: "name", title: "Category"},
                {field: "english_name", title: "English Name"},
                {field: "level", title: "Level"},
                {field: "count", title: "Number of Tags", align: "center"},
                {field: "view", title: "View", formatter: show_category_formatter, align: "center"}
            ];
            $.getJSON(api_url, function(response) {
                render_table($tag_category_table_container, {
                    columns: columns,
                    rows: response,
                }, {
                    detailView: true,
                    detailViewByClick: true,
                    detailFormatter: detail_view_formatter,
                    showColumns: false,
                }, {
                    tablename: "tag_information",
                },"tag_categories");
            });
        }

        window.addEventListener('load', function () {
            render_tags_table();
        });
    </script>
{% endblock %}