<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&bull; {{title}} &bull;{% block title %}{% if data.title %} {{data.title}} &bull;{% endif %}{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/united/bootstrap.min.css">
    <!-- Sticky Footer -->
    <link rel="stylesheet" href="{{url_for('static', filename='custom/css/sticky-footer.css')}}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-table@1.21.4/dist/extensions/sticky-header/bootstrap-table-sticky-header.css">
    <link rel="stylesheet" href="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.css">

    <!-- Context.js Generate Context Menus -->
    <!-- 1. Bootstrap Version Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='plugins/context-js/context.bootstrap.css')}}">
    <!-- 2. Standalone Version Stylesheet -->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='plugins/context-js/context.standalone.css')}}"> -->

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Animations for Bootstrap-Notify -->
    <link rel="stylesheet" href="{{url_for('static', filename='plugins/css/animate.min.css')}}">

    <!-- Bootstrap Select -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"> -->

    <!-- Select2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='custom/css/select2-united.css')}}">

    <!-- Parse CSV -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script> -->

    <style>
        .custom-tooltip {
            --bs-tooltip-bg: var(--bs-secondary);
            --bs-tooltip-color: var(--bs-white);
        }
        .detail-view {
            padding: 0px;
        }
        .detail-view>td {
            padding: 0px;
            max-width: 0px; /* any number less than allowed width, which is roughly 50vw */
        }
        .context-cell {
            cursor: "help";
        }
        .blink {
            animation: blink 1s 2; /* blink twice in 1 second */
            font-weight: bold;
        }
        @keyframes blink {
            0%, 100% { opacity: 1; }
            50% { opacity: 0.25; }
        }
    </style>
</head>

<body class="font-weight-light">
    {% block navigation %}

    <ul class="nav nav-tabs bg-light">
        <li class="nav-item col-sm lead">
            <span class="nav-link text-secondary disabled">{{header}}</span>
        </li>
        {% for id in navigation_menu %}
        {% set func = navigation_menu[id][0] %}
        {% set caption = navigation_menu[id][1] %}
        {% if func is mapping %}
        <li class="nav-item lead dropdown">
            <a class="nav-link dropdown-toggle {% if active_page in func %}active{% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{caption}}</a>
            <div class="dropdown-menu">
            {% for _id in func %}
                {% set _func = func[_id][0] %}
                {% set _caption = func[_id][1] %}
                <a class="dropdown-item {% if _id == active_page %}active{% endif %}" href="{{url_for(_func)}}">{{_caption}}</a>
            {% endfor %}
            </div>
        </li>
        {% else %}
        <li class="nav-item lead">
            <a class="nav-link {% if id == active_page %}active{% endif %}" href="{{url_for(func)}}">{{caption}}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endblock %}

    {% include "messages.html" %}

    {% block content %}
    {% endblock %}

    {% include "add_comment_modal.html" %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>

    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/extensions/copy-rows/bootstrap-table-copy-rows.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/extensions/resizable/bootstrap-table-resizable.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/extensions/export/bootstrap-table-export.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Bootstrap Select -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script> -->

    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Bootstrap-Notify -->
    <script src="{{url_for('static', filename='plugins/js/bootstrap-notify.min.js')}}"></script>

    <!-- Enable Tooltips -->
    <script>
        const tooltip_trigger_list = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltip_list = [...tooltip_trigger_list].map(tooltip_trigger_element => new bootstrap.Tooltip(tooltip_trigger_element));
    </script>
    <!-- CSRF Token to All AJAX Requests -->
    <script type="text/javascript">
        const CSRF_TOKEN = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
                }
            }
        });
    </script>

    <!-- Context.js -->
    <script src="{{url_for('static', filename='plugins/context-js/context.js')}}"></script>
    <script>
        context.init({
            fadeSpeed: 100,
            filter: function ($object) {},  // default: null
            above: 'auto',
            preventDoubleContext: false,    // default: true
            compress: false
        });
    </script>

    <!-- Custom Notifications -->
    <script>
        $.notifyDefaults({
            placement: {
                from: "top",
                align: "center"
            },
            allow_dismiss: false,
            delay: 3000,
            timer: 500,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });
    </script>

    <script>
        const CURRENT_USER_ID = "{{current_user.id}}";
        const CURRENT_USER_IS_AUTHENTICATED = JSON.parse("{{current_user.is_authenticated | tojson()}}");

        function highlight_login_link() {
            const $login_link = $("#footer-link-login");
            $login_link.removeClass("d-none");
            $login_link.addClass("blink");
            setTimeout(function() { $login_link.removeClass("blink"); }, 2000);
        }
    </script>

    {% block javascript %}
    {% endblock %}

    {% block footer %}
    <footer class="footer mt-auto bg-light">
        <div class="container-fluid">
            <span class="text-secondary">
                &copy; {{since}}{% if since != now.year %}-{{now.year}}{% endif %}{% if copyright %}, {{copyright}}{% endif %}
            </span>
            <span class="float-end">
                {% if not current_user.is_authenticated %}
                <a id="footer-link-login" class="text-primary text-decoration-none mx-2 d-none" href="{{url_for('show_login')}}">Login</a>
                {% else %}
                {% if current_user.role in [roles.ROLE_CURATOR, roles.ROLE_ADMIN] %}
                <a id="footer-link-admin" class="text-primary text-decoration-none mx-2" href="{{url_for('admin.index')}}">Admin</a>
                {% endif %}
                <a id="footer-link-logout" class="text-info text-decoration-none mx-2" href="{{url_for('logout')}}">Logout</a>
                {% endif %}

                {% for id in footer_links %}
                {% set func = footer_links[id][0] %}
                {% set caption = footer_links[id][1] %}
                <a class="text-secondary {% if active_page in func %}fw-bolder{% endif %} text-decoration-none mx-2" href="{{url_for(func)}}">{{caption}}</a>
                {% endfor %}
            </span>
        </div>
    </footer>
    {% endblock %}
</body>

</html>