{% set active_page = "tag" %}
{% extends "base.html" %}
{% block content %}
<div class="container p-3">
    <div class="row">
        <div class="col-sm-1 my-auto">
            <label for="tag-category-selector">Category</label>
        </div>
        <div class="col-sm">
            <select class="form-select" id="tag-category-selector"></select>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-sm-1 my-auto">
            <label for="tag-selector">Tag</label>
        </div>
        <div class="col-sm">
            <select class="form-select" multiple id="tag-selector"></select>
        </div>
    </div>

    <div id="tag-meta"></div>
    <div id="tag-data"></div>

</div>
{% endblock %}

{% block javascript %}
    <script>
        const DEFAULT_CATEGORY = "{{data.default_category}}";
        const DEFAULT_TAG_IDS = JSON.parse("{{data.default_tag_ids}}");
        const MAX_SELECT = "{{data.max_select}}";

        const API_URL_LIST_TAGS = "{{url_for('list_tags')}}";
        const API_URL_TEMPLATE_LIST_CATEGORY_TAGS = "{{url_for('list_category_tags', tag_category='TAG_CATEGORY')}}";
        const API_URL_TEMPLATE_GET_CATEGORY_TAGS = "{{url_for('get_category_tags', tag_category='TAG_CATEGORY', tag_ids='TAG_IDS')}}";

        const $tag_category_selector = $("#tag-category-selector");
        const $tag_selector = $("#tag-selector");
        const tag_meta_container = $("#tag-meta");
        const tag_data_container = $("#tag-data");

    </script>
    <script src="{{url_for('static', filename='custom/js/functions.js')}}"></script>
    <script>
        function render_tag_category_dropdown() {
            $tag_category_selector.empty();
            const api_url = API_URL_LIST_TAGS;
            $.getJSON(api_url, function(response) {
                for (const category of response) {
                    var $option = $("<option />", {
                        value: category.category,
                        html: `${category.hindi} (${category.english})`,
                        selected: (category.category == DEFAULT_CATEGORY)
                    });
                    $tag_category_selector.append($option);
                };
            });
            // $tag_category_selector.selectpicker();
            $tag_category_selector.off();
            $tag_category_selector.change(function () {
                render_tag_dropdown(this.value);
            });

            // Render Default Tag Category
            render_tag_dropdown(DEFAULT_CATEGORY);
        }

        function render_tag_dropdown(tag_category) {
            $tag_selector.empty();
            $tag_selector[0].selected_options = new Array();
            const api_url = (
                API_URL_TEMPLATE_LIST_CATEGORY_TAGS
                .replace('TAG_CATEGORY', tag_category)
            );
            $.getJSON(api_url, function(response) {

                for (const tag of Object.values(response)) {
                    var $option = $("<option />", {
                        value: tag.id,
                        html: `${tag.code}: ${tag.name}`,
                        selected: DEFAULT_TAG_IDS.includes(tag.id)
                    });
                    $tag_selector.append($option);
                };
            });
            // $tag_selector.selectpicker();
            $tag_selector.off();
            $tag_selector.change(function () {
                for (i = 0; i < this.childNodes.length; i++) {
                    var thisChild = this.childNodes[i];
                    if (thisChild.tagName != 'OPTION') {
                        continue;
                    }
                    else {
                        var _index = this.selected_options.indexOf(thisChild);
                        if (thisChild.selected && _index < 0) {
                            this.selected_options.push(thisChild);
                        }
                        if (!thisChild.selected && _index >= 0) {
                            this.selected_options.splice(_index, 1);
                        }
                    }
                }
                if (this.selected_options.length > MAX_SELECT) {
                    $.notify({
                        "message": `You can select at most ${MAX_SELECT} tags at a time.`
                    }, {
                        "type": "warning"
                    });
                    this.selected_options.pop().selected = false;
                }
                const selected_tag_ids = $(this).val();
                render_tag_data_table(tag_category, selected_tag_ids);
            });

            // Render Default Tag ID
            render_tag_data_table(tag_category, DEFAULT_TAG_IDS);
        }

        function render_tag_meta_div(metadata) {
            tag_meta_container;
        }


        function parse_tag_data_response(response) {
            console.log(response);

            const languages = response.languages;
            const schema = response.schema;
            const tags = response.tags;
            const tag_count = Object.keys(tags).length;

            var meta_columns = [];
            var meta_rows = [];
            const all_meta_keys = Object.keys(Object.values(tags)[0].tag);
            const ignore_meta_keys = ["id", "tag", "is_deleted"];
            const meta_keys = all_meta_keys.filter(key => !ignore_meta_keys.includes(key));
            for (const meta_key of meta_keys) {
                meta_columns.push({
                    field: meta_key,
                    title: schema.meta[meta_key] || meta_key.toTitleCase()
                });
            }

            var fields = ["header"];
            var data_columns = [{field: "header", title: "", switchable: false}];
            var data_rows = {};

            for (const language of Object.values(languages)) {
                for (const tag_data of Object.values(tags)) {
                    const tag_id = tag_data.tag.id;
                    fields.push(`${language.code}_${tag_id}`);
                    const field_name = `${language.code}_${tag_id}`;
                    const field_title =  (
                        (tag_count == 1)
                        ? `${language.english_name}<br>(${language.name})`
                        : `${language.english_name}<br>(${language.name})<hr>${tag_data.tag.code}<br>${tag_data.tag.name}`
                    );
                    data_columns.push({
                        field: field_name,
                        title: field_title
                    });
                }
            }
            // console.log(data_columns);
            for (const [tag_id, tag_data] of Object.entries(tags)) {
                meta_rows.push(tag_data.tag);

                const data = tag_data.data;
                const all_data_keys = Object.keys(data[0]);
                const ignore_data_keys = ["id", "tag_id", "language_id", "is_deleted"];
                const data_keys = all_data_keys.filter(key => !ignore_data_keys.includes(key));
                const rows = data_keys.map(key => {
                    const row_object = {
                        "header": schema.data[key] || key.toTitleCase()
                    };
                    data.forEach(row => {
                        const language_code = languages[row.language_id].code;
                        const row_key = `${language_code}_${row.tag_id}`;
                        row_object[row_key] = (row[key] != null) ? row[key].replace(/\n/g, "<br />") : null;
                    });
                    return row_object;
                });
                for (const row of rows) {
                    if (data_rows[row.header] == undefined) {
                        data_rows[row.header] = row;
                    } else {
                        for (const [_key, _value] of Object.entries(row)) {
                            data_rows[row.header][_key] = _value;
                        }
                    }
                }
                console.log(data_rows);
            }
            return {
                info: {columns: meta_columns, rows: meta_rows},
                table: {columns: data_columns, rows: Object.values(data_rows)}
            }
        }

        function render_tag_data_table(tag_category, tag_ids) {
            const api_url = (
                API_URL_TEMPLATE_GET_CATEGORY_TAGS
                .replace('TAG_CATEGORY', tag_category)
                .replace('TAG_IDS', tag_ids)
            );
            $.getJSON(api_url, function(response) {
                const tag_data_object = parse_tag_data_response(response);

                render_table(
                    tag_meta_container,
                    tag_data_object.info,
                    {search: false, showExport: false, showColumns: false},
                    `${tag_category}_${tag_ids.join("_")}`
                );
                render_table(
                    tag_data_container,
                    tag_data_object.table, {showFullscreen: true},
                    `${tag_category}_${tag_ids.join("_")}`
                );
            });
        }
    </script>
    <script>

        window.addEventListener('load', function () {
            render_tag_category_dropdown();
        });
    </script>
{% endblock %}